@media (min-height:300px){
    .c-footer-wrap2{
        display: flex;
       
        margin: auto;
         background-color:rgb(27,27,27) ;
        height: 139px;
        width: 100%;
        border-radius: 30px 30px 0 0;
        flex-direction: column;
        margin-top: 140px;
        
    }
    .home-line2{
        
        height: 2px;
        width: 80px;
        background-color:#7070708f;
        
        margin-top:20px;
        margin-left: 80px;
        border-radius: 15px;
    }
    .c-icons{
        justify-content: center;
       display: flex;
        align-items: center;
        gap: 10%;
       
    }
    .red img:nth-of-type(1){
        margin-top:15px ;
        height:15px ;
       
    }
    .grey img:nth-of-type(1){
        margin-top: 19px;
        height: 10px;
    }
    
    .grey{
    width: 45px;
    height:45px ;
    border-radius:100% ;
    background:linear-gradient(180deg,#2B2B2B,#454545);
    justify-content: center;
    align-items: center;
    
    }
    
    .red{
        width:45px ;
        height:45px ;
        border-radius:100% ;
        background-color:#FF6969 ;
       justify-content: center;
        align-items: center;
        
       
    }
}
@media (min-height:566px){
    .c-footer-wrap2{
        display: flex;
       
        margin: auto;
         background-color:rgb(27,27,27) ;
        height: 139px;
        width: 100%;
        border-radius: 30px 30px 0 0;
        flex-direction: column;
        margin-top: 140px;
        
    }
    .home-line2{
        
        height: 3px;
        width: 104px;
        background-color:#7070708f;
        
        margin-top:40px;
        margin-left: 90px;
        border-radius: 15px;
    }
    .c-icons{
        justify-content: center;
       display: flex;
        align-items: center;
        gap: 10%;
       
    }
    .red img:nth-of-type(1){
        margin-top:15px ;
        height:19px ;
       
    }
    .grey img:nth-of-type(1){
        margin-top: 19px;
        height: 13px;
    }
    
    .grey{
    width: 45px;
    height:45px ;
    border-radius:100% ;
    background:linear-gradient(180deg,#2B2B2B,#454545);
    justify-content: center;
    align-items: center;
    
    }
    
    .red{
        width:45px ;
        height:45px ;
        border-radius:100% ;
        background-color:#FF6969 ;
       justify-content: center;
        align-items: center;
        
       
    }
}

@media (min-height:640px){
    .c-footer-wrap2{
        display: flex;
       
        margin: auto;
         background-color:rgb(27,27,27) ;
        height: 139px;
        width: 100%;
        border-radius: 30px 30px 0 0;
        flex-direction: column;
        margin-top: 140px;
        
    }
    .home-line2{
        
        height: 3px;
        width: 104px;
        background-color:#7070708f;
        
        margin-top:40px;
        margin-left: 105px;
        border-radius: 15px;
    }
    .c-icons{
        justify-content: center;
       display: flex;
        align-items: center;
        gap: 10%;
       
    }
    .red img:nth-of-type(1){
        margin-top:15px ;
        height:19px ;
       
    }
    .grey img:nth-of-type(1){
        margin-top: 17px;
        height: 13px;
    }
    
    .grey{
    width: 45px;
    height:45px ;
    border-radius:100% ;
    background:linear-gradient(180deg,#2B2B2B,#454545);
    justify-content: center;
    align-items: center;
    
    }
    
    .red{
        width:45px ;
        height:45px ;
        border-radius:100% ;
        background-color:#FF6969 ;
       justify-content: center;
        align-items: center;
        
       
    }
}
@media (min-height:760px){
    .c-footer-wrap2{
        display: flex;
       
        margin: auto;
         background-color:rgb(27,27,27) ;
        height: 139px;
        width: 100%;
        border-radius: 30px 30px 0 0;
        flex-direction: column;
        margin-top: 200px;
        
    }
    .home-line2{
        
        height: 3px;
        width: 114px;
        background-color:#7070708f;
        
        margin-top:50px;
        margin-left: 125px;
        border-radius: 15px;
    }
    .c-icons{
        justify-content: center;
       display: flex;
        align-items: center;
        gap: 10%;
       
    }
    .red img:nth-of-type(1){
        margin-top:15px ;
        height:19px ;
       
    }
    .grey img:nth-of-type(1){
        margin-top: 17px;
        height: 13px;
    }
    
    .grey{
    width: 45px;
    height:45px ;
    border-radius:100% ;
    background:linear-gradient(180deg,#2B2B2B,#454545);
    justify-content: center;
    align-items: center;
    
    }
    
    .red{
        width:45px ;
        height:45px ;
        border-radius:100% ;
        background-color:#FF6969 ;
       justify-content: center;
        align-items: center;
        
       
    }
}
@media (min-height:812px){
    .c-footer-wrap2{
        display: flex;
       justify-content: center;
     
        margin: auto;
         background-color:rgb(27,27,27) ;
        height: 139px;
        width: 100%;
        border-radius: 30px 30px 0 0;
        flex-direction: column;
        margin-top: 210px;
        
    }
    .home-line2{
        
        height: 3px;
        width: 134px;
        background-color:#7070708f;
        
        margin-top:52px;
        margin-left: 140.6px;
        border-radius: 15px;
    }
    .c-icons{
        justify-content: center;
       display: flex;
        align-items: center;
        gap: 12%;
       
    }
    .red img:nth-of-type(1){
        margin-top:18px ;
        height:19px ;
       
    }
    .grey img:nth-of-type(1){
        margin-top: 20px;
        height: 15px;
    }
    
    .grey{
    width: 55px;
    height:55px ;
    border-radius:100% ;
    background:linear-gradient(180deg,#2B2B2B,#454545);
    justify-content: center;
    align-items: center;
    
    }
    
    .red{
        width:55px ;
        height:55px ;
        border-radius:100% ;
        background-color:#FF6969 ;
       justify-content: center;
        align-items: center;
        
       
    }
}
@media (min-height:896px){
    .c-footer-wrap2{
        display: flex;
       
        margin: auto;
         background-color:rgb(27,27,27) ;
        height: 139px;
        width: 414px;
        border-radius: 30px 30px 0 0;
        flex-direction: column;
        margin-top: 34vh;
        
    }
    .home-line2{
        
        height: 5px;
        width: 134px;
        background-color:#7070708f;
        
        margin-top:45px;
        margin-left: 140.6px;
        border-radius: 15px;
    }
    .c-icons{
        justify-content: center;
       display: flex;
        align-items: center;
        gap: 15%;
       
    }
    .red img:nth-of-type(1){
        margin-top:23px ;
        height:17px ;
       
    }

.grey img:nth-of-type(1){
    margin-top: 22px;
    height: 17px;
}

    
    .grey{
    width: 60px;
    height:60px ;
    border-radius:100% ;
    background:linear-gradient(180deg,#2B2B2B,#454545);
    justify-content: center;
    align-items: center;
    
    }
    
    .red{
        width:60px ;
        height:60px ;
        border-radius:100% ;
        background-color:#FF6969 ;
       justify-content: center;
        align-items: center;
        
       
    }
}