.arrow{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 10px;
    height: 10px;
   
}
.add-wrap-3{width: 382.5px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
margin-right: 25px;
}

.add-wrap .add-wrap-3 .left .green{
 border-radius: 100%;
 background-color: aqua;
 z-index: 1;
}
@media (min-height:300px){
    .state2{
        display: flex;
        
         margin-top:10px;
         margin-left: 13px;
          position: absolute;
          
          }
         
}
@media (min-height:569px){
    .state2{
        display: flex;
        
         margin-top:20px;
         margin-left: 18px;
          position: absolute;
          
          }
         
}
@media (min-height:640px){
    .state2{
        display: flex;
        
         margin-top:24px;
         margin-left: 20px;
          position: absolute;
          
          }
         
}
@media (min-height:812px){
    .state2{
        display: flex;
        
         margin-top:40px;
         margin-left: 30px;
          position: absolute;
          
          }
         
}
@media (min-height:896px){
    .state2{
        display: flex;
        
         margin-top:35px;
         margin-left: 39px;
          position: absolute;
          
          }
        
}
