

@media(min-height:200px){
    .chat1-header{
        display: flex;
        justify-content: space-between;
        background-color: #1F1F1F;
        width: 414px;
        height: 80px;
        margin-bottom: 20px;
    
    }
    .online{
        margin-top: 31.6px;
        margin-left: 80px;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       line-height: 0px;
        height: 36px;
    }
    .chat-header-right{
        padding-right:120px;
        padding-top: 50px;
    }
   
    .online p{
        font-size: 13px;
    }
    .online span{
        font-size: 9px;
        display: flex;
        color: #CCCCCC;
    }
    .home-line5{
        
        height: 3px;
        width: 84px;
        background-color:#7070708f;
        margin-left: 90.6px;
        border-radius: 15px;
        margin-top: 15px;
    }
    .c-header-img{
        display: flex;
        width: 15px;
        height:15px;
        margin-top: 54px;
    }
    .chat-left{
        display: flex;
        justify-content: space-between;
        padding-left: 16px;
    }
    .input-field{
        height: 30px;
        width: 189px;
        background-color: #2B2B2B;
        border-radius: 40px 40px 40px 40px;
        margin-left: 9px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: -95px;
        z-index: 3;
    }
    .input-field img{
        margin-right: 3px;
        margin-left: 1px;
    }
    .input-field input{
        padding-left: 0;
        border: none;
        background-color: #2B2B2B;
        font-size: 11px;
        color: white;
        z-index: 3;
    }
    ::placeholder{
        color:#CCCCCC;
        opacity: 1;
    }
    .blue-ci{
        height: 25px;
        width:25px;
        background-color:#007EF4 ;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 12px;
        border: none;
        cursor: grab;
       
    }
    .left-input{
      
    display: flex;
    justify-content: center;
    }
    .right-input{
    display: flex;
    align-items: center;
    }
    
}
@media(min-height:540px){
    .chat1-header{
        display: flex;
        justify-content: space-between;
        background-color: #1F1F1F;
        width: 414px;
        height: 80px;
        margin-bottom: 20px;
    
    }
    .online{
        margin-top: 31.6px;
        margin-left: 80px;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       line-height: 0px;
        height: 36px;
    }
    .chat-header-right{
        padding-right:120px;
        padding-top: 50px;
    }
   
    .online p{
        font-size: 13px;
    }
    .online span{
        font-size: 9px;
        display: flex;
        color: #CCCCCC;
    }
    .home-line5{
        
        height: 4px;
        width: 114px;
        background-color:#7070708f;
        margin-left: 130.6px;
        border-radius: 15px;
        margin-top: 10px;
    }
    .c-header-img{
        display: flex;
        width: 15px;
        height:15px;
        margin-top: 54px;
    }
    .chat-left{
        display: flex;
        justify-content: space-between;
        padding-left: 16px;
    }
    .input-field{
        height: 40px;
        width: 322px;
        background-color: #2B2B2B;
        border-radius: 40px 40px 40px 40px;
        margin-left: 9px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: -95px;
        z-index: 3;
    }
    .input-field img{
        margin-right: 12px;
        margin-left: 13px;
    }
    .input-field input{
        padding-left: 0;
        border: none;
        background-color: #2B2B2B;
        font-size: 15px;
        color: white;
        z-index: 3;
    }
    ::placeholder{
        color:#CCCCCC;
        opacity: 1;
    }
    .blue-ci{
        height: 30px;
        width:30px;
        background-color:#007EF4 ;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 12px;
        border: none;
        cursor: grab;
       
    }
    .left-input{
      
    display: flex;
    justify-content: center;
    }
    .right-input{
    display: flex;
    align-items: center;
    }
    
}
@media(min-height:640px){
    .chat1-header{
        display: flex;
        justify-content: space-between;
        background-color: #1F1F1F;
        width: 414px;
        height: 80px;
        margin-bottom: 20px;
    
    }
    .online{
        margin-top: 31.6px;
        margin-left: 80px;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       line-height: 0px;
        height: 36px;
    }
    .chat-header-right{
        padding-right:120px;
        padding-top: 50px;
    }
   
    .online p{
        font-size: 13px;
    }
    .online span{
        font-size: 9px;
        display: flex;
        color: #CCCCCC;
    }
    .home-line5{
        
        height: 4px;
        width: 114px;
        background-color:#7070708f;
        margin-left: 130.6px;
        border-radius: 15px;
        margin-top: 10px;
    }
    .c-header-img{
        display: flex;
        width: 15px;
        height:15px;
        margin-top: 54px;
    }
    .chat-left{
        display: flex;
        justify-content: space-between;
        padding-left: 16px;
    }
    .input-field{
        height: 40px;
        width: 322px;
        background-color: #2B2B2B;
        border-radius: 40px 40px 40px 40px;
        margin-left: 9px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: -75px;
    }
    .input-field img{
        margin-right: 12px;
        margin-left: 13px;
    }
    .input-field input{
        padding-left: 0;
        border: none;
        background-color: #2B2B2B;
        font-size: 15px;
        color: white;
        
    }
    ::placeholder{
        color:#CCCCCC;
        opacity: 1;
    }
    .blue-ci{
        height: 30px;
        width:30px;
        background-color:#007EF4 ;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 12px;
        border: none;
        cursor: grab;
       
    }
    .left-input{
      
    display: flex;
    justify-content: center;
    }
    .right-input{
    display: flex;
    align-items: center;
    }
    
}
@media(min-height:740px){
    .chat1-header{
        display: flex;
        justify-content: space-between;
        background-color: #1F1F1F;
        width: 414px;
        height: 90px;
        margin-bottom: 30px;
    
    }
    .online{
        margin-top: 41.6px;
        margin-left: 90px;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       line-height: 0px;
        height: 36px;
    }
    .chat-header-right{
        padding-right:68px;
        padding-top: 60px;
    }
   
    .online p{
        font-size: 14px;
    }
    .online span{
        font-size: 10px;
        display: flex;
        color: #CCCCCC;
    }
    .home-line5{
        
        height: 4px;
        width: 114px;
        background-color:#7070708f;
        margin-left: 130.6px;
        border-radius: 15px;
        margin-top: 10px;
    }
    .c-header-img{
        display: flex;
        width: 15px;
        height:15px;
        margin-top: 64px;
    }
    .chat-left{
        display: flex;
        justify-content: space-between;
        padding-left: 16px;
    }
    .input-field{
        height: 40px;
        width: 342px;
        background-color: #2B2B2B;
        border-radius: 40px 40px 40px 40px;
        margin-left: 19px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: -23px;
    }
    .input-field img{
        margin-right: 12px;
        margin-left: 13px;
    }
    .input-field input{
        padding-left: 0;
        border: none;
        background-color: #2B2B2B;
        font-size: 15px;
        color: white;
        
    }
    ::placeholder{
        color:#CCCCCC;
        opacity: 1;
    }
    .blue-ci{
        height: 33px;
        width:33px;
        background-color:#007EF4 ;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 17px;
        border: none;
        cursor: grab;
       
    }
    .left-input{
      
    display: flex;
    justify-content: center;
    }
    .right-input{
    display: flex;
    align-items: center;
    }
    
}
@media(min-height:812px){
    .chat1-header{
        display: flex;
        justify-content: space-between;
        background-color: #1F1F1F;
        width: 414px;
        height: 110px;
        margin-bottom: 40px;
    
    }
    .online{
        margin-top: 51.6px;
        margin-left: 107px;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       line-height: 0px;
        height: 36px;
    }
    .chat-header-right{
        padding-right:50px;
        padding-top: 66px;
    }
   
    .online p{
        font-size: 16px;
    }
    .online span{
        font-size: 11px;
        display: flex;
        color: #CCCCCC;
    }
    .home-line5{
        
        height: 4px;
        width: 124px;
        background-color:#7070708f;
        margin-left: 140.6px;
        border-radius: 15px;
        margin-top: 18px;
    }
    .c-header-img{
        display: flex;
        width: 17px;
        height:17px;
        margin-top: 64px;
    }
    .chat-left{
        display: flex;
        justify-content: space-between;
        padding-left: 16px;
    }
    .input-field{
        height: 50px;
        width: 362px;
        background-color: #2B2B2B;
        border-radius: 40px 40px 40px 40px;
        margin-left: 19px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: -2px;
    }
    .input-field img{
        margin-right: 12px;
        margin-left: 13px;
    }
    .input-field input{
        padding-left: 0;
        border: none;
        background-color: #2B2B2B;
        font-size: 15px;
        color: white;
        
    }
    ::placeholder{
        color:#CCCCCC;
        opacity: 1;
    }
    .blue-ci{
        height: 37px;
        width:37px;
        background-color:#007EF4 ;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 12px;
        border: none;
        cursor: grab;
       
    }
    .left-input{
      
    display: flex;
    justify-content: center;
    }
    .right-input{
    display: flex;
    align-items: center;
    }
    
}
@media(min-height:896px){
    .chat1-header{
        display: flex;
        justify-content: space-between;
        background-color: #1F1F1F;
        width: 414px;
        height: 120px;
        margin-bottom: 48px;
    
    }
    .online{
        margin-top: 61.6px;
        margin-left: 117px;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       line-height: 0px;
        height: 36px;
    }
    .chat-header-right{
        padding-right: 19px;
        padding-top: 70px;
    }
  
    .online p{
        font-size: 16px;
    }
    .online span{
        font-size: 11px;
        display: flex;
        color: #CCCCCC;
    }
    .home-line5{
        
        height: 5px;
        width: 134px;
        background-color:#7070708f;
        margin-left: 140.6px;
        border-radius: 15px;
        margin-top: 21px;
    }
    .c-header-img{
        display: flex;
        width: 20px;
        height: 20px;
        margin-top: 74px;
    }
    .chat-left{
        display: flex;
        justify-content: space-between;
        padding-left: 16px;
    }
    .input-field{
        height: 56px;
        width: 382px;
        background-color: #2B2B2B;
        border-radius: 40px 40px 40px 40px;
        margin-left: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 0px;
        
    }
    .input-field img{
        margin-right: 12px;
        margin-left: 13px;
    }
    .input-field input{
        padding-left: 0;
        border: none;
        background-color: #2B2B2B;
        font-size: 15px;
        color: white;
        
    }
    ::placeholder{
        color:#CCCCCC;
        opacity: 1;
    }
    .blue-ci{
        height: 40px;
        width: 40px;
        background-color:#007EF4 ;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 12px;
        border: none;
        cursor: grab;
       
    }
    .left-input{
      
    display: flex;
    justify-content: center;
    }
    .right-input{
    display: flex;
    align-items: center;
    }
    
}
@media(min-height:916px){
    .chat1-header{
        display: flex;
        justify-content: space-between;
        background-color: #1F1F1F;
        width: 414px;
        height: 140px;
        margin-bottom: 55px;
    
    }
    .online{
        margin-top: 61.6px;
        margin-left: 117px;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       line-height: 0px;
        height: 36px;
    }
    .chat-header-right{
        padding-right: 19px;
        padding-top: 70px;
    }
  
    .online p{
        font-size: 16px;
    }
    .online span{
        font-size: 11px;
        display: flex;
        color: #CCCCCC;
    }
    .home-line5{
        
        height: 5px;
        width: 134px;
        background-color:#7070708f;
        margin-left: 140.6px;
        border-radius: 15px;
        margin-top: 21px;
    }
    .c-header-img{
        display: flex;
        width: 20px;
        height: 20px;
        margin-top: 74px;
    }
    .chat-left{
        display: flex;
        justify-content: space-between;
        padding-left: 16px;
    }
    .input-field{
        height: 76px;
        width: 388px;
        background-color: #2B2B2B;
        border-radius: 40px 40px 40px 40px;
        margin-left: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 90px;
        
    }
    .input-field img{
        margin-right: 12px;
        margin-left: 13px;
    }
    .input-field input{
        padding-left: 0;
        border: none;
        background-color: #2B2B2B;
        font-size: 15px;
        color: white;
        
    }
    ::placeholder{
        color:#CCCCCC;
        opacity: 1;
    }
    .blue-ci{
        height: 45px;
        width: 45px;
        background-color:#007EF4 ;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 12px;
        border: none;
        cursor: grab;
       
    }
    .left-input{
      
    display: flex;
    justify-content: center;
    }
    .right-input{
    display: flex;
    align-items: center;
    }
    
}